name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: schineaj23/vex-build@v1.0
    - name: configure
      run: ./configure
    - name: make
      run: make
              
